@model UtopianChain.API.Models.Block

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Block</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousHash" class="control-label"></label>
                <input asp-for="PreviousHash" class="form-control" />
                <span asp-validation-for="PreviousHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hash" class="control-label"></label>
                <input asp-for="Hash" class="form-control" />
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nonce" class="control-label"></label>
                <input asp-for="Nonce" class="form-control" />
                <span asp-validation-for="Nonce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
